{% extends "templates/base.twig" %}

{% block body %}
<div class="danzerpress-container-fw" style="background: transparent;">
	
	{% for layout in post.get_field(flexible_layout) %}
	    {% if (layout.acf_fc_layout == section.section_slug) %}
	    	{% set iterator = iterator + 1 %}
	    	{% include 'templates/danzerpress-sections/section-header.twig' %}
			{% include 'templates/danzerpress-sections/' ~ section.section_slug ~ '.twig' %}
			{% include 'templates/danzerpress-sections/section-footer.twig' %}
	    {% endif %}
	{% endfor %}
	
</div>
{% endblock %}