.admin-bar {
	header, .drawer-hamburger {
	    top: 32px;
	}
	.drawer-nav {
		@include breakpoint(ipad_side, max-width) {
			padding: 0;
			margin-top: 92px;
		}
	}
}
.drawer--navbarTopGutter {
    padding-top: 0;
}

.drawer-navbar {
	background: transparent;
	border: none;
	transition: .5s;
	z-index: 9999;
	li.menu-item {
		ul {
			border: none;
		}
		&:hover > ul {
			//display: block;
		}
		.dropdown-children {
			left: 0px;
			top: 0px;
		}
		&.is-menu-parent {
			> ul {
				//display: block;
				top: 56px;
				left: 0;
				//left: -47px;
				li {
					&:hover {
						border-color: transparent !important;
					}
					a.drawer-dropdown-menu-item {
						color: black;
						text-decoration: none;
						line-height: 1;
						padding: 20px;
					}
				}
			}	
		}
	}
	&.drawer-navbar--fixed {
		.drawer-container {
			display: flex;
			justify-content: space-between;
			.drawer-navbar-header {
				background: transparent;
				border: none;
			}
			.drawer-nav {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: transparent;
				@media screen and (max-width: 1023px) { 
					overflow: visible;
				}
			}
			.drawer-menu {
				flex: 1 0 auto;
				display: flex;
				flex-direction: row;
				background: transparent;
				position: relative;
				.is-menu-parent {
					position: relative;
				}
				li {
					transition: .75s;
					border-width: 4px 0 0;
					border-color: transparent;
					border-style: solid;
					padding: 0 15px 4px;
					font-family: "Raleway",Helvetica,Arial,sans-serif;
					padding-left: 17px;
					padding-right: 17px;
					font-size: 13px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 1px;
					display: flex;
					flex: 1 0 auto;
					align-items: center;
					&:hover {
						border-color: #05c4eb;
						border-style: solid;
					}
					a {
						color: $white;
					}
					@media screen and (max-width: 1023px) {
						flex: 0 0 100%;
						flex-wrap: wrap;
						ul {
							position: absolute;
							top: 0px;
							top: 62px;
							z-index: 9;
						}
						&.is-menu-parent {
							padding: 0;
    						border: none;
						}
						.dropdown-children {
							top: 0px;
						}
						.fa {
							flex: 1 0 auto;
							align-self: stretch;
							align-items: center;
							padding: 0px;
							justify-content: center;
							color: #404040;
							margin: 0px;
						}
						.fa-caret-right,
						.fa-chevron-left {
							color: white;
						}
						a {
							flex: 0 0 90%;
						}
					}
				}
				@include breakpoint(ipad_side, max-width) {
					flex-direction: column;
					background: $white;
					width: 100%;
					padding: 0px;
					li {
						&:nth-child(odd) {
							background: #f3f3f3;
						}
						&:hover {
							border-color: transparent;
						}
						a {
							color: black;
							padding: 20px;
							width: 100%;
						}
					}
					.drawer-dropdown-menu {
						li {
							&:nth-child(odd) {
								background: #fff;
							}
							&:nth-child(even) {
								background: #f3f3f3;
							}
						}
					}
				}
			}
		}
	}
	.danzerpress-logo {
		width: auto;
		max-height: 60px;
	}
	.dark-logo {
		display: none;
	}
}

.danzerpress-trans {
	header {
		.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
			background: $white;
		}
	}
}
.danzerpress-non-trans header {
	background: $white;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.078);
	.light-logo {
		display: none;
	}
	.fa.fa-caret-down,
	.fa.fa-caret-up {
		color: #404040;
	}
	.dark-logo {
		display: block;
	}
	li {
		a {
			color: black !important;
		}
	}
}