<a class="drawer-brand" href="{{ function('home_url', '/') }}">
    {% if options.get_light_logo %}
        {{ dpImage(options.get_light_logo, 'light-logo danzerpress-logo') }}
    {% endif %}

    {% if options.get_dark_logo %}
        {{ dpImage(options.get_dark_logo, 'dark-logo danzerpress-logo') }}
    {% endif %}
</a>