{% extends 'base.twig' %}

{% block content %}
    {% block title %}{% endblock %}
    
    <div class="archive">
        {% include 'infinite_scroll.twig' with {columns: 3} %}
    </div>
{% endblock %}