<!doctype html>
<html {{ function('language_attributes') }}>
    {% include 'templates/head.twig' %}

    <body class="{{ body_class }} drawer drawer--top drawer--navbarTopGutter{{ (options.hide_header and false == options.hide_nav) ? ' hide-header danzerpress-non-trans' : ' danzerpress-trans' }}" data-template="base.twig">
        {% include 'templates/header.twig' %}
        
        {% block body %}
            <div class="main-content">
                <div class="danzerpress-wrap">
                    {% block content %}
                        {% include 'parts/content-w-sidebar.twig' %}
                    {% endblock %}
                </div>
            </div>

            {% block comments %}
                {% include 'parts/comments.twig' %}
            {% endblock %}
        {% endblock %}

        {% block footer %}
            {% include 'templates/footer.twig' %}
        {% endblock %}
    </body>
</html>