<div id="infinite-row" class="danzerpress-flex-row" data-post-per="{{posts_per_page}}" data-page="{{post_page}}" data-columns="{{columns}}">
    {% for post in posts %}
        {% include 'content.twig' with {columns: columns} %}
    {% endfor %}
</div>
<div class="danzerpress-text-align-center">
    {% include 'assets/spinner.twig' %}
</div>