{% extends "templates/base.twig" %}

{% block body %}
	<div class="">
		<div class="danzerpress-two-thirds danzerpress-col-center">
			<div class="">
			    {% for post in posts %}
			        {{ post.content }}
			    {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}