{% extends "templates/base.twig" %}

{% block content %}
    <div class="danzerpress-container-fw danzerpress-white danzerpress-box">
        <div class="danzerpress-one-third danzerpress-col-center">
        {{ function('get_search_form') }}
        </div>
    </div>

    {% if not posts|length %}
        {{ __('Sorry, no results were found.', 'sage') }}
    {% else %}
        <div class="archive" style="padding: 40px 0;">
            {% include 'infinite_scroll.twig' with {columns: 3} %}
        </div>
    {% endif %}
{% endblock %}

{% block comments %}{% endblock %}