{% extends "templates/base.twig" %}

{% block body %}
<div class="archive">
    <div class="danzerpress-featured-content main-content">
        <div class="danzerpress-wrap">
            <div class="danzerpress-one-third danzerpress-col-center">
            {{ function('get_search_form') }}
            </div>

            {% if not posts|length %}
                {{ __('Sorry, no results were found.', 'sage') }}
            {% else %}
                <div class="danzerpress-flex-row">
                    {% for post in posts %}
                        {% include "templates/content.twig" with {post: post, columns: 3}  %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}