html,
body {
  font: 100%/1.4em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  color: #222;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body,
.panel {
  background-color: $white;
}

body {
  background: $light-grey;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  &.admin-bar {
    min-height: calc(100vh - 32px);
  }
  &.hide-header {
    padding-top: 60px;
  }
  .main-content {
		padding: 40px 0;
	}
}

.danzerpress-main-content {
  flex-grow: 1;
}

.menu {
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}

a {
  color: $brand-primary;
  text-decoration: none;
}

/*Headings*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 20px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 15px;
}

blockquote {
  background: $light-grey;
  padding: 20px 40px;
  margin: 0 0 20px;
  border-left: 4px solid $brand-primary;
}

ol, ul {
  padding-left: 23px;
  li {
    padding: 10px 0;
  }
}

img {
  width: 100%;
}

/*Comments*/
.comments-area {
  padding: 40px 0;
  background: $light-grey;
  .comments-wrap {
    max-width: 900px;
    margin: auto;
    h3 {
      font-size: 22px;
    }
    textarea {
      background: $white;
    }
    input {
      background: $white;
    }
    .comment-content {
      background: $white;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}