.single {
    .main-content {
        padding: 40px 0 0;
        background: white;
        article {
            .entry-title {
                margin: 20px 0 5px;
            }
            .entry-meta {
                margin: 0 0 20px;
                p {
                    margin: 0;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}