.single {
    .main-content {
        margin-top: 40px;
        article {
            background: white;
            padding: 20px;
            img {
                width: 100%;
            }
        }
    }
}