<footer>
    <div class="footer-wrap">
        <div class="container">
            {{ function('dynamic_sidebar', 'sidebar-footer') }}
        </div>
    </div>
</footer>

{{ function('wp_footer') }}
